$darkseagreen = #008000
$lightgray = #eff3f6
$textdark = #24292e

body
  height 100vh
  background-color white

.toggle-button
  cursor pointer
  color white
  border 2px solid white
  border-radius 5px
  padding 10px
  margin-bottom 10px
  text-align center
  max-width 200px
  align-self center
  display none
  position fixed
  top 70px
  &:hover
    background-color white
    color mediumseagreen

header
  width 25%
  max-width 400px
  min-width 400px
  height 100vh
  background-color mediumseagreen
  color white
  display flex
  // padding-bottom: 60px
  flex-direction column
  padding-left 10px
  position fixed
  overflow-x hidden
  overflow-y auto
  z-index 2
  .title
    display flex
    flex-direction column
    h3
      padding-right 15px
      padding-left 7px
      padding-top 5px
      text-align center
      font-family 'Monoton', cursive
      font-size 2rem
      display flex
      flex-direction column

    h6
      font-family 'Raleway', sans-serif

    a
      color white

.footer
  font-family 'Raleway', sans-serif
  text-align center
  .go-green
    color mediumseagreen

.rbc-base
  display flex
  height 100%
  flex-direction column
  background-color white

.rbc-resultstats
  padding 10px

.rc-slider-mark-text
  color white
  width 32% !important
  margin-left -15% !important


.rbc-categorysearch
  position fixed
  z-index 12
  width calc(100% - 410px)
  background-color mediumseagreen
  top -10px
  right 0
  box-shadow none
  padding-bottom 5px
  color black
  input
    height 55px

.rbc-title
  color white

.Select-value-icon
  &:hover
    color $darkseagreen !important

.search-params
  display flex
  width 90%
  align-self center
  flex-direction column
  .rbc
    margin 0
  .search-filters
    display flex
    flex-direction column
    flex 2

  .rbc-rangeslider
    background-color mediumseagreen
    box-shadow none
    flex 1

    .rbc-rangeslider-container
      padding 7px
      padding-right 16px

    .rbc-title
      color white
      padding-left 4px
      margin-top 10px

    .rc-slider
      margin-top -10px

  .rbc-multidropdownlist
    background-color mediumseagreen
    box-shadow none
    flex 1
    .rbc-title
      color white

  .rbc-singledropdownrange
    background-color mediumseagreen
    box-shadow none
    fle 1
    .rbc-title
      color white

  .rbc-datasearch
    background-color mediumseagreen
    box-shadow none
    flex 1
    color black
    .rbc-title
      color white
      padding-left 20px

.card-layout
  padding 5px 0
  margin 5px
  display flex
  flex-direction column
  height 100%
  align-items space-around
  .card-top
    width 100%
    min-height 225px
    justify-content space-between
  .card-details
    display flex
    padding 0 5px
    width 100%
    flex-direction column
  .card-bottom
    display flex
    justify-content space-between
    height auto !important
    padding-bottom 10px
  .card-image
    max-width 50px
    border-radius 50%
  .card-description
    width 90%
    white-space normal
    padding-bottom 10px
    letter-spacing normal
    flex 1
  .card-tags
    display flex
    height 60px
    flex-wrap wrap
    font-weight bold
    justify-content center
    flex-direction row !important
    margin-bottom 25px
    position relative
    align-content center
    .card-tag
      cursor pointer
      padding 0 2px
      margin 2px
      background-color mediumseagreen
      color white
      border-radius 3px
      &:hover
        background-color $darkseagreen

  .card-title
    padding 2px
    padding-bottom 15px
    color mediumseagreen
    text-align center
    font-size 20px
    display flex
    width 90%
    justify-content space-around
    a
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
    &:hover
      color $darkseagreen
  .card-stars
    font-size 1rem
    padding 4px
    font-weight 700
    background-color $lightgray
    color $textdark
    border-radius 4px
    min-width 110px
    text-align center
    flex-direction row
    justify-content center
    &:hover
      background-color $darkseagreen
      color white
    .fa
      margin-right 10px
      margin-top 2px
  a
    text-decoration none
    color mediumseagreen
    padding 0 5px
    &:hover
      color $darkseagreen

.content
  flex 1
  position relative
  top 90px
  left 25%
  width 75%
  height 100%

.rbc-resultcard-item__title
  display none

.rbc-resultcard
  .rbc-sortoptions
    margin-right 1% !important
    z-index 1
    select
      background-color $lightgray
  .rbc-resultcard-container
    box-shadow none
    padding 5px
    max-height 100%
  .rbc-resultcard-item
    width calc(50% - 30px)
    margin 15px
    min-height auto
    max-width 430px
    box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    transition all 0.3s cubic-bezier(.25,.8,.25,1)
    div
      display flex
      align-items center
      margin-bottom 5px
    &:hover
      box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  .rbc-resultcard-item__image
    display none !important

.rbc-pagination
  text-align center

.react-autosuggest__input
  color $darkseagreen

@media all and (max-width 1600px)
  .content
    left 29%
    width 70%

@media all and (max-width 1350px)
  .content
    left 33%
    width 67%
  .rbc-resultcard
    .rbc-resultcard-item
      max-width 350px
  .card-layout
    .card-title
      flex-direction column
      a
        width 100%
      .card-image
        margin-bottom 10px
    .card-stars
      min-width 80px
    .card-top
      flex-direction column
      max-height auto
      min-height 200px
    .card-tags
      min-height 80px

@media all and (max-width 1100px)
  .title
    z-index 4
    margin-top -20px
    h3
      z-index 10
      background-color mediumseagreen
      width 100%
  .rbc-categorysearch
    width calc(100% - 19em)
    top 5px
    right 10px
    input
      height 50px
  .toggle-button
    display block
    margin-top 10px
    margin-left auto
    margin-right auto
    z-index 4
    .fa
      padding-right 7px
  .full-header
    header
      height 100vh
      .title
        height 70px
      .toggle-button
        top 70px
      .search-params
        .search-filters
          margin-top 90px
          display flex
  header
    width 100%
    max-width 100%
    height 140px
    .title
      flex-direction row
      h3
        position fixed
        left 1.4em
        flex-direction row
        padding-top 25px
        padding-bottom 80px

    .search-params
      .search-filters
        display none
  .content
    width 100%
    left 0
    margin-top 90px
    .rbc-resultcard
      .rbc-resultstats
        position relative

@media all and (max-width 700px)
  .rbc-resultcard-scroll-container
    .rbc-resultcard-item
      width 100%

  .card-layout
    .card-title
      max-width 400px
    .card-description
      max-width 400px

@media all and (max-width 420px)
  body
    width 100%
  header
    min-width auto
    padding-left 0
    padding-right 0
    height 180px
    .title
      margin-top -20px
      margin-left auto
      margin-right auto
      h3
        left 50%
        transform translateX(-50%)
        padding-left 3.2em
        padding-right 3.2em
        width auto
        padding-bottom 115px

    .toggle-button
      display block
      margin-top 50px
      margin-left auto
      margin-right auto
      z-index 4
      .fa
        padding-right 7px
  .rbc-categorysearch
    width calc(100% - 19em)
    top 50px
    width 80%
    right 8%
    input
      height 50px
  .rbc-resultcard-scroll-container
    .rbc-resultcard-item__title
      padding 0
    .rbc-resultcard-item__desc
      padding 0
  .card-layout
    width 97%
    .card-stars
      min-width auto
  .full-header
    header
      .search-params
        .search-filters
          margin-top 140px
